@import "../../sass/variables.scss";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &Container{
    position: relative;
  }

  &Content {
    width: 600px;
    background-color: #fff;
  }

  &Header {
    padding: 10px;
  }

  &Title {
    margin: 0;
  }

  &Body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  &Close{
    position: absolute;
    right: -48px;
    top: 0;
    width: 32px;
    height: 32px;
    color: $color-white;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
  }
}